@import "tailwindcss";


@theme{
  --breakpoint-sm: 350px;
  --breakpoint-md: 768px;
  --breakpoint-bp: 840px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1920px;
  --breakpoint-2xl: 2560px;
  --breakpoint-3xl: 3440px;

  --color-offwhite: #EFE0EA;
  --color-cinzinha: #424242;
  --color-vermelhinho: #AD0011;
  --color-amarelinho: #E1FF00;
  --color-verde1: #93D38D;
  --color-verde2: #3C8036;
  --color-verde3: #1D3D1A;
  --color-verde4: #021A00;
  --color-rosa1: #F8BBD0;
  --color-rosa2: #ED81BA;
  --color-rosa3: #E13A96;
  --color-rosa4: #7B2052;
}

/*o preenchimento autmatico n respeita o tailwind, mesmo usando autofill la. a ia sugeriu isso e nao funcionou. ps:lembrar de pergunta p vinicius*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #C12A7C inset !important; 
  -webkit-text-fill-color: #EDE0EA !important; 
  border: 1px solid #EDE0EA !important;
  transition: background-color 5000s ease-in-out 0s !important; 
}
